<section class="media-section">
  <div class="media-object media-text">
    <%= image_tag post.image, class: 'media-image' %>
    <div class="media-content">
      <h3 class="media-title"><%= post.title %></h3>
      <p class="media-body">
        <%= post.content %>
      </p>
    </div>
  </div>
</section>