/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "style.css";

/* table styles */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 2%;
    overflow:hidden
}

th {
    text-align: left;
}

th, td {
    border-bottom: 1px solid var(--gray-color);
}

table tr:hover {
    background-color: var(--beige-color);
}

table th {
    padding: 1% 0 1% 1%;
    background-color: var(--gray-color);
    color: var(--white-color);
}

table img {
    width: 35%;
    height: auto;
}

/* forms */
form {
    border-radius: 2%;
    background-color: var(--beige-color);
    padding: 20px;
}

form input[type=text] {
    width: 100%;
    padding: 0.5%;
    border-radius: 0.5%;
    resize: vertical;
}

input[type=submit] {
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 0.5%;
    border: none;
    border-radius: 0.5%;
    cursor: pointer;
    float: right;
}

form label {
    display: inline-block;
}