/* table styles */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 2%;
    overflow: hidden
}

th {
    text-align: left;
}

th, td {
    border-bottom: 1px solid var(--gray-color);
}

table tr:hover {
    background-color: var(--beige-color);
}

table th {
    padding: 1% 0 1% 1%;
    background-color: var(--gray-color);
    color: var(--white-color);
}

table img {
    width: 35%;
    height: auto;
}
