<section class="products-section">
  <% products.each do |product| %>
    <div class="card">
      <%= image_tag product.image, class: "card-image" %>
      <h3 class="card-text"><%= product.title %></h3>
      <div class="card-text-small">$<%= product.description %></div>
    </div>
  <% end %>
</section>