<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= form.text_field :label, autofocus: true %>
    </div>

    <div class="row column">
      <%= form.text_field :url %>
    </div>

  </div>
</div>
