<%= decidim_form_for(@navbar, html: { class: "form new_status" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: 'Edit Navbar' } %>

  <div class="button--double form-general-submit">
    <%= f.submit 'Update Navbar' %>
  </div>
<% end %>
